@font-face {
    font-family: "Poppins";
    src: url(./assets/Poppins-Medium.ttf) format(truetype);
}
@font-face {
    font-family: "Geist Regular";
    src: url(./assets/GeistMono-Regular-BF65694d05471c0.otf) format(opentype);
}
@font-face {
    font-family: "Geist Medium";
    src: url(./assets/GeistMono-Medium-BF65694d060c7bc.otf) format(opentype);
}
@font-face {
    font-family: "Geist Light";
    src: url(./assets/GeistMono-Light-BF65694d059193c.otf) format(opentype);
}
:root,
#root,
body,
html {
    margin: 0;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    font-family: "Poppins";
    overflow: hidden;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.home,
.toDoPage {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.chatWrapper {
    height: 100%;
    align-self: center;
    width: 80%;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-left: auto;margin-right: auto;
}