@font-face {
    font-family: "Poppins";
    src: url(./assets/Poppins-Medium.ttf) format(truetype);
}
@font-face {
    font-family: "Geist Regular";
    src: url(./assets/GeistMono-Regular-BF65694d05471c0.otf) format(opentype);
}
@font-face {
    font-family: "Geist Medium";
    src: url(./assets/GeistMono-Medium-BF65694d060c7bc.otf) format(opentype);
}
@font-face {
    font-family: "Geist Light";
    src: url(./assets/GeistMono-Light-BF65694d059193c.otf) format(opentype);
}
:root{
    --light:#FFFCF2;
    --dark:#252422;
    --bg:#403D39;
    --accent:#FF922E;
    color: var(--light);
}
:root,
#root,
body,
html {
    margin: 0;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    background-color: var(--light);
    font-family: "Poppins";
    overflow: hidden;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.home,
.toDoPage {
    width: 100%;
    height: 100%;
}
.chatWrapper {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 20px;
}